In [2]:
import pandas as pd
import re
import ast

In [3]:
df = pd.read_csv('scrapyoutput.csv')

In [4]:
df.head()

,dealer,name,reward
0,NaN,Trade\n,NaN
1,Prapor LL1,"x5,T-Shaped Plug,\n",Submachinegun 19-01 Vityaz-SN 9x19
2,Prapor LL1,"x1\n,Clin wiper,\n,\n",30 pcs. 5.45x39 BP gs ammo pack
3,Prapor LL1,"x1\n,Can of delicious beef stew,\n,\n",30 pcs. 5.45x39 BT gs ammo pack
4,Prapor LL1,"x2\n,Spark plug,\n,\n",Zenit-Belomo PSO 1M2-1 4x24 scope

In [5]:
fullresult = []
for thingy in df['name']:
    splitstring = re.split(',' ,thingy)
    result = []
    for item in splitstring:
        newitem = re.sub('\n','', item)
        xtest = re.compile(r' x\d')
        if len(xtest.findall(newitem)) > 0:
            newitem = newitem[1:]
        if len(newitem) > 1 and newitem is not '+':
            result.append(newitem)
    fullresult.append(result)
df['newname'] = fullresult
df.head()

,dealer,name,reward,newname
0,NaN,Trade\n,NaN,[Trade]
1,Prapor LL1,"x5,T-Shaped Plug,\n",Submachinegun 19-01 Vityaz-SN 9x19,"[x5, T-Shaped Plug]"
2,Prapor LL1,"x1\n,Clin wiper,\n,\n",30 pcs. 5.45x39 BP gs ammo pack,"[x1, Clin wiper]"
3,Prapor LL1,"x1\n,Can of delicious beef stew,\n,\n",30 pcs. 5.45x39 BT gs ammo pack,"[x1, Can of delicious beef stew]"
4,Prapor LL1,"x2\n,Spark plug,\n,\n",Zenit-Belomo PSO 1M2-1 4x24 scope,"[x2, Spark plug]"

In [6]:
df.to_csv('scrapyoutput2.csv')